<h1 class="font-bold text-4xl">Your Sold Items</h1>
  
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Buyer</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @sold_items.each do |item| %>
      <tr>
        <td><%= item.listing.title %></td>
        <td><%= item.listing.description %></td>
        <td><%= number_to_currency(item.listing.price)%></td>
        <td><%= item.buyer.username %></td>
        <td><%= item.listing.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>